.Home{
    background-size: cover;
    height: 95vh;
    width: 100%;
    display: flex;
    /* max-width: 100%; */
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.backgroundcontainer{
    background: url(../Assets/SVG/stars_1.svg);
    height: 100%;
    width: 154%;
    background-size: cover;
    background-position-x: 0%;
    /* background-repeat: repeat-x; */
    animation: bkgslide 25s linear infinite;
    display: flex;
    /* max-width: 100%; */
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}


.planet{
    height: 50%;
    width: 50%;
    margin-top: 100px;
    max-width: 400px;
}

.ship{
    animation: rotateleft 10s linear infinite;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 60%;
    width: 60%;
}
.rotateplanet{
    animation: rotateright 25s linear infinite;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    height: 40%;
    width: 40%;
}

.arrows{
    height: 50px;
    width: 50px;
    margin-top: 320px;
    position: absolute;
    z-index: 999;
}

.arrows>svg{
    width: 50px;
    animation: arrowfloat 10s ease-in-out infinite;
    cursor: pointer;
}
 
.arrows>svg:hover > #singlearrow{
    stroke: white;
}




.tslogo>svg{
    width: 75vw;
    height: auto;
    max-width: 550px;
}



@keyframes bkgslide{
    100%{
        background-position-x: 150%;
    }
}

@keyframes arrowfloat{
    0%{
        
        margin-top: 0%;
        
    }
    25%{
        margin-top: 25%;
    }
    50%{
        margin-top: 0%;
        
    }

    75%{
        margin-top: 30%;
    }

    100%{
        margin-top: 0%;
    
    }
}

@keyframes rotateright{
    from{
        transform: rotate(0deg);
    } to{
        transform: rotate(360deg);
    }
}
@keyframes rotateleft{
    from{
        transform: rotate(0deg);
    } to{
        transform: rotate(-360deg);
    }
}