
.App{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  background: #1b1026;
  overflow: hidden;
  
}

.App-header{
  display: flex;
  width: 100%;
  justify-content: center;
}



